* {
    box-sizing: border-box;
}

$grid-gutter: 1%;
$grid-columns: 12;
$grid-max: 980px;

.grid{
    min-height: 1px;
    float: left;
    padding: 0 $grid-gutter;
    margin: 2px 0;
}

@for $i from 1 through $grid-columns{
    .column-#{$i} {
        @extend .grid;
        width: 100% / $grid-columns * $i;
    }
}

.row{
    @extend .grid;
    width: 100%;
}
.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

@media only screen and (max-width: 550px) {
    .mobile-column{
        width: auto;
        float: none;
    }
    @for $i from 1 through $grid-columns{
        .column-#{$i} {
            @extend .mobile-column;
        }
    }
}