.card-calendar{
    @extend .box-shadow;
    .header {
        padding: 10px;
        font-size: 40px;
    }
    .container {
        padding: 10px;
    }
}

.card-success{
    .header{
        background-color: $success;
        color: $text-inverse;
    }
}

.card-danger{
    .header{
        background-color: $danger;
        color: $text-inverse;
    }
}

.card-alert{
    .header{
        background-color: $alert;
        color: $text-inverse;
    }
}

.card-primary{
    .header{
        background-color: $primary;
        color: $text-inverse;
    }
}

.card-info{
    .header{
        background-color: $info;
        color: $text-inverse;
    }
}


