.card-calendar{
    @include box-shadow;
    .card-header {
        background-color: $default-dark;
        padding: 40px;
        font-size: 40px;
    }
    .card-container {
        background-color: #FFF;
        padding: 10px;
    }
}

@each $mess in $list{
    .card-#{$mess}{
        > .card-header{
            background-color: color($mess);
            color: $text-inverse;
        }
    }
}