footer, .footer {
    float: left;
    bottom:0;
    width:100%;
    min-height:10px;
}

$sz: 0;
@each $size in $sizes{
    $sz: $sz + 60px;
    .footer-#{$size}{
        @extend .footer;
        min-height: $sz;
    }
}