
$grid-gutter: 1%;
$grid-columns: 12;
$grid-max: 980px;

@for $i from 1 through $grid-columns{
    .column-#{$i} {
        @include grid;
        width: 100% / $grid-columns * $i;
        .form{
            @include box-shadow;
        }
    }
}

.row{
    @include grid;
    width: 100%;
}
.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

@media only screen and (max-width: 768px) {
    .mobile-column{
        width: auto;
        float: none;
    }
    @for $i from 1 through $grid-columns{
        .column-#{$i} {
            @extend .mobile-column;
        }
    }
}
