header, .header{
    min-height: 60px;
    position: relative;
    top: 0;
    width:100%;
}

$sz: 0;
@each $size in $sizes{
    $sz: $sz + 10%;
    .header-#{$size}{
        @extend .header;
        min-height: $sz;
    }
}