
.message {
    border: 2px solid #ccc;
    padding: 10px;
    color: #333;
}

.success {
    @extend .message;
    background: $success;
}

.error {
    @extend .message;
    background: $danger;
}

.warning {
    @extend .message;
    background: $alert;
}

.primary {
    @extend .message;
    background: $primary;
}