@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin grid{
    min-height: 1px;
    float: left;
    padding: 0 $grid-gutter;
    margin: 2px 0;
}

@mixin box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
@mixin box-input{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
@mixin border-input($border, $color, $radius){
    border: $border solid $color;
    @include border-radius($radius);
}
@mixin title{
    font-family: $font-family;
    font-weight: bold;
}

@function color-inverse($color){
    @if (lightness($color) < 30) {
        @return #FFF;
    } @else {
        @return #000;
    }
}

@function color($color){
    @if $color == 'success'{
        @return $success;
    }@elseif $color == 'danger'{
        @return $danger;
    }@elseif $color == 'warning'{
        @return $warning;
    }@elseif $color == 'info'{
        @return $info;
    }@elseif $color == 'primary'{
        @return $primary;
    }@else{
        @return $FFF;
    }
}