//lista de alertas
$list: success danger warning info primary;
$sizes: sm md lg;

//background colors
$success: #4CAF50;
$danger: #E78177;
$warning: #FFEB90;
$info: #ABA8D8;
$primary: #034F84;
//default colors
$default-dark: #898989;

//text colors
$text-inverse: white;